body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1 {
	color: #ccc;
	font-weight: 300;
}

figure { margin: auto; }

.content {
	position: relative;
	z-index: 2;
	background-color: #fff;
	margin-bottom: 400px;
}

article {
	padding:  100px 0;
	max-width:  640px;
	margin: 0 auto;
	text-align: center;
}

img {
	max-width: 100%;
}

/* Paralax */

.bird-box {
	position: relative;
	height: 600px;
	background-image: url(../img/bird-bg.jpg);
	background-size: auto 600px;
	background-position: top center;
	background-attachment: fixed;
	overflow: hidden;
	z-index: 3;
}

.logo {
	height: 100px;
	width: 100%;
	background-image: url(../img/black-bird-logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -50px;
}

.fore-bird {
	width: 960px;
	height: 733px;
	background-image: url(../img/fore-bird.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	top: 380px;
}

.back-bird {
	width: 960px;
	height: 298px;
	background-image: url(../img/back-bird.png);
	background-repeat: no-repeat;
	background-position: top left;
	position: absolute;
	left: 50%;
	margin-left: -480px;
}

/* Model Grid */

.clothes-pics {
	margin-bottom: 100px;
}

.clothes-pics figure {
	margin-bottom: 20px;
	position: relative;
	opacity: 0;
	transform: translateX(-20px);
	transition: all 0.3s ease-in-out;
}

.is-showing {
	opacity: 1 !important;
	transform: translateX(0px) !important;
}

figure img {
	display: block;
	transform: scale(1);
	transition: all .3s ease-in-out;
}

figure {
	overflow: hidden;
	cursor: pointer;
}

figure figcaption {
	position: absolute;
	bottom: 10px;
	/*left: -100%;*/
	background-color: #000;
	color: #fff;
	padding: 2px 8px;
	font-size: 11px;
}
/*
figure figcaption:hover {
	left: 0%;
}
*/
figure img:hover {
	transform: scale(1.1);
}
/* large window */

.large-window {
	height: 640px;
	background-image: url(../img/model2.jpg);
	background-position: center 0;
	background-repeat: repeat-y;
	background-attachment: fixed;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 50%;
	position: relative;
}

.window-tint {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0
	right: 0;
	bottom: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.promo-text {
	color: #fff;
	font-weight: 100;
	font-size: 50px;
}

.promo-text strong {
	display: block;
	font-size: 30px;
}

.promo-text strong span {
	font-weight: 300;
	font-size: 18px;
	font-style: italic;
	color: rgba(255,255,255,.6);
}

.window-cta {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px;
	transition: all .3s ease-in-out;
}

.window-cta:hover {
	background-color: #fff;
	color: #000;
}

/* posts */

.blog-posts {
	margin-top: 100px;

}

.blog-posts .post {
	border: 1px solid #e1e1e1;
	padding: 20px 20px 0;
	background-color: #fff;
	position: relative;
}

.post-1 {
	transform: translate(100px, 20px);
}

.post-2 {z-index: 2;}

.post-3 {
	transform: translate(-100px, 20px);
}	

/* footer */

footer {
	background-color: #000;
	color: #fff;
	padding: 40px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer .footer-stuff {
	max-width: 640px;
	margin: 0 auto;

}

footer a {
	color: inherit;
}